* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    height: 100vh;
}

/* NAVIGATION */
nav {
    background-color: #333;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 275px;
}

/* SEARCH */
.search-bar {
    display: flex;
    background-color: pink;
    margin: 5px;
    padding: 5px;
    height: 40px;
}

.search-bar input {
    width: 70%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.search-bar button {
    width: 30%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* SIDE MENU */
.side-menu-list1 {
    background-color: #2e6a6b;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu-list2 {
    background-color: #e869ad;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu a {
    display: block;
    color: #fff;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.side-menu a:hover {
    text-decoration: underline;
    background-color: green;
}

.side-menu-list1 a {
    padding: 5%;
    border: 3px red solid;
}

.side-menu-list2 a {
    padding: 5% 5% 5% 10%;
}

.side-menu li {
    margin: 0;
    padding: 0;
    background-color: #8d8d53;
}

/* CONTENT */
.content {
    padding: 20px;
    width: 100vh;
}

h1 {
    color: #333;
}

p {
    color: #555;
}
